
.wrapper{
    display: flex;
}
.wrapper .product{
    margin-right: 15px;
    text-align: center;
    width: 200px;
    height:240px;
    position:relative;
}
h2{
    margin: 10px 0;
}

img{
    display: block;

}
button{
    position:absolute;
    left:0;
    right:0;
    margin: 0 auto;
    bottom: 10px;
    width:100px;
}
